body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    min-height: 100vh;
    width: 100%;
    background: #2f2f7e;
    color: #fff;
}
a{
  color: #fff;
  padding: 12px 24px;
}
.App-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
img{
    max-width: 100%;
}

.errorPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.details{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
    max-width: 100%;
}